node_modules
yarn.lock
config.env
dist
package-lock.json
/config/.env
/.env
test
stakedCoins.log
exports
*.bash
*.csv
*.conf
*.txt
*.xlsx
*.json
.mocharc.json
miningCache.ts
.env
scripts/**
docs
*.pdf
*.csv
